//- Begin::Footer
div(id="nodify_footer").py-4
  //- Begin::Footer_Container
  .container.d-flex.flex-column.flex-md-row.align-items-center.justify-content-between
    //- Begin::Copyright
    .text-dark.order-2.order-md-1
      span.text-muted.fw-bold.me-2 2021©

      a(href="https://github.com/richardnguyen99/nodify" target="_blank") Github
    //- End::Copyright

    //- Begin::Additional_Link
    .d-flex.align-items-center.order-1
      a(href="#").btn.btn__text.btn__text--sm.me-3 About
      a(href="#").btn.btn__text.btn__text--sm.me-3 RSS
      a(href="#").btn.btn__text.btn__text--sm.me-3 Newsletter


    //- End::Additional_Link
  //- End::Footer_Container
//- End::Footer
