//- Begin::header
navbar.header
  //- Begin::Header--Container
  div.container.d-flex.justify-content-between.align-items-stretch
    //- Begin::Left
    div.d-flex.align-items-center
      //- Begin::Toggle_Menu
      button(id="nodify_toggle", type="button",data-bs-toggle="modal",data-bs-target="#nodifyToggleMenu").btn.btn--icon.me-3
        //- Begin::Toggle_Menu_Icon
        span.svg-icon.svg-icon-1
          img(src="/assets/svg/menu-burger.svg" alt="Menu")
        //- End::Toggle_Menu_Icon
      //- End::Toggle_Menu
      //- Begin::Brand
      a(href="/")
        img(src="/assets/svg/nodify-brand.svg" alt="logo")
      //- End::Brand
    //- End::Left=
    //- Begin::Right
    div.d-flex.align-items-center
      button(id="nodify_search_icon").btn.btn--icon.btn--icon--sm.me-3
        span.svg-icon.svg-icon-1
          img(src="/assets/svg/search.svg" alt="algorithm" width="24")
      button(id="nodify_document_icon").btn.btn--icon.btn--icon--sm.me-3
        span.svg-icon.svg-icon-1
          img(src="/assets/svg/document.svg" alt="algorithm" width="20")
      button(id="nodify_dsa_icon").btn.btn--icon.btn--icon--sm.me-3
        span.svg-icon.svg-icon-1
          img(src="/assets/svg/statistics.svg" alt="algorithm" width="24")
    //- End::Right
  //- End::Header--container
//- End::header
