<%- include("./components/navbar") %>
<h1>Algorithm route</h1>
<div id="array">
  <% for (var i = 1; i < array.length; i++) { %>
    <svg width="10" height="<%= array[i] %>">
      <rect width="10" height="<%= array[i] %>" style="fill:rgb(0,0,255);" />
    </svg>
  <% } %>
</div>
<button type="button" onclick="sort(<%- JSON.stringify(array) %>)" class="btn btn-primary">Sort</button>
