doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatiable", content="IE-Edge")
    meta(name="viewport", content="width-device-width", initial-scale="1.0")
    title #{title} - Nodify
    meta(name="description", content="\"So you want to do visualization?\" - web page")

  body
    //- navbar

    //- content
    block content
    h1 "So you want to do visualization?"
    p #{content}

    //- footer
