extends sort-layout

block main
  form.form.d-flex.justify-content-center.align-items-center
    div(style="max-width: 800px; padding-top: 5rem; padding-bottom: 5rem").card-body
      .row.mb-3
        label(for="arrayRange").col-lg-3.col-form-label.fw-bolder Array range
        .col-lg-9
          input(type="text" id="arrayRange" value="8").form-control.form-control-lg.form--solid
      .row.mb-3
        label(for="arrayRange").col-lg-3.col-form-label.fw-bolder Array type
        .col-lg-9
          div.d-flex.align-items-center
            div.form-check.form--brand.form__check--solid.form-check-solid.me-4
              input(id="arrayNode" type="checkbox" checked="checked" value="node").form-check-input
              label(for="arrayNode").form-check-label.fw-bold Node
            div.form-check.form--brand.form__check--solid.form-check-solid.me-4
              input(id="arrayBar" type="checkbox" value="bar").form-check-input
              label(for="arrayBar").form-check-label.fw-bold Bar
      .row.mb-3
        label.col-lg-3.col-form-label.fw-bolder
        .col-lg-9
          button(id="generateButton" type="button" onclick="generateArray()").btn.btn--text.btn--brand.fw-bolder Generate

  div.array__container

block profile
  h1 Hello World

block extra
  h1 Hello World

block main-script
  script(src="/js/bubble-sort.js")
