extends ../../layout

block content
  .container
    h1.display-3.mb-4.fw-bold
      span.text--underline--warning Sorting

    section(id="collections-card").row.g-2.g-lg-3
      .col-12.col-md-6.col-lg-4
        a.card.card__article(href="/algorithm/sorting/bubble-sort")
          img(src="/assets/images/bubble-sort.jpg", alt="Bubble sort").card-img-top
          .card__text
            h5.card-title Bubble sort
            p.badge.bg-primary sort

      .col-12.col-md-6.col-lg-4
        a.card.card__article(href="/algorithm/sorting/insertion-sort")
          img(src="/assets/images/insertion-sort.jpg", alt="Insertion sort").card-img-top
          div.card__text
            h5.card-title Insertion sort
            p.badge.bg-primary sort

      .col-12.col-md-6.col-lg-4
        a.card.card__article(href="/algorithm/sorting/selection-sort")
          img(src="/assets/images/selection-sort.jpg", alt="Insertion sort").card-img-top
          div.card__text
            h5.card-title Selection sort
            p.badge.bg-primary sort
