[class*="--brand"] {
  --nodify-color: var(--nodify-brand);
}

[class*="--primary"] {
  --nodify-color: var(--nodify-primary);
}

[class*="--success"] {
  --nodify-color: var(--nodify-success);
}

[class*="--warning"] {
  --nodify-color: var(--nodify-warning);
}

[class*="--danger"] {
  --nodify-color: var(--nodify-danger);
}

[class*="--dark"] {
  --nodify-color: var(--nodify-dark);
}

[class*="--icon"] {
  --nodify-color: var(--nodify-icon);
}

:root {
  --nodify-brand: 29, 185, 84;
  --nodify-primary: 25, 91, 255;
  --nodify-warning: 255, 186, 0;
  --nodify-danger: 255,71,87;
  --nodify-success: 70,201,58;
  --nodify-dark: 30,30,30;
  --nodify-light: 244,247,248;
  --nodify-github: 36 ,41, 46;
  --nodify-icon: 243, 229, 207;
  --nodify-background: 251, 249, 246;
  --nodify-button-text: 255, 255, 255;
}

* {
  outline: none;
}

hr {
  margin: 0;
  height: 0;
  border-top: 1px solid rgba(var(--nodify-color), 1);
}

.hr--sm {
  max-width: 5rem;
  margin-top: 0;
  border-top-width: 10px;
}

body {
  background-color: rgba(var(--nodify-background), 1);
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  color: #191914;
  text-decoration: none;
  transition: color 200ms ease;
}
a:hover {
  color: rgba(var(--nodify-brand), 1);
}

.tab-pane:not(.active) {
  display: none;
}

.text {
  color: rgba(var(--nodify-color), 1);
}

[class*=text--underline] {
  background: repeat-x left 1em/1em 0.15em;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(var(--nodify-color), 0.4)));
  transition: background 0.2s ease;
}
[class*=text--underline]:hover {
  background: repeat-x left 0em/1em 1.15em;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(var(--nodify-color), 0.4)));
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  height: 10rem;
}

.btn {
  color: rgba(var(--nodify-button-text), 1);
  background-color: rgba(var(--nodify-color), 1);
}
.btn:hover {
  color: rgba(var(--nodify-button-text), 1);
}
.btn--icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.5rem;
  background: rgba(var(--nodify-background), 1);
}
.btn--icon:hover {
  color: rgba(var(--nodify-button-text), 1);
  background: rgba(var(--nodify-color), 1);
}
.btn--icon--sm {
  height: 2rem;
  width: 2rem;
}
.btn--shadow {
  box-shadow: 0 20px 20px -10px rgba($color: var(--btn-background), $alpha: 0.5);
}
.btn--shadow--onHover:hover {
  box-shadow: 0 20px 20px -10px rgba(var(--nodify-color), 0.5);
}
.btn--float:hover {
  transform: translateY(-5px);
}
.btn--text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.25s ease;
}
.btn--text--sm {
  height: 2rem;
}
.btn--border {
  background-color: rgba(var(--nodify-color), 0);
  color: rgba(var(--nodify-color), 1);
  border: 2px solid rgba(var(--nodify-color), 0.5);
}
.btn--border:hover {
  border: 2px solid rgba(var(--nodify-color), 1);
  color: rbga(var(--nodify-color), 1);
}
.btn--flat {
  background-color: rgba(var(--nodify-color), 0.3);
  color: rgba(var(--nodify-dark), 1);
}
.btn--flat:hover {
  background-color: rgba(var(--nodify-color), 0.5);
}
.btn--link {
  border-radius: 0.4rem;
  color: #000;
}
.btn--link.active, .btn--link:active, .btn--link:hover {
  color: rgba(var(--nodify-brand), 1);
  background-color: #f9f2e7;
}
.btn:not(.btn-shadow):not(.shadow) :not(.btn__shadow):not(.btn__shadow--onHover) {
  box-shadow: none !important;
}

.animation--float {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.form__check--solid > input:checked {
  background-color: rgba(var(--nodify-color), 1);
  border-color: rgba(var(--nodify-color), 1);
}
.form--solid {
  background-color: #f5f8f7;
  color: #5e6278;
  border-color: #f5f8f7;
  border-radius: 0.65rem;
  transition: color 0.2s ease, background-color 0.2s ease;
  font-weight: 500;
  font-size: 1rem;
}
.form--solid:active, .form--solid:focus {
  background-color: #eef3f7;
  border-color: #eef3f7;
}

.card {
  border: 0;
}
.card--hoverable {
  cursor: pointer;
  transition: all 200ms ease;
}
.card--label {
  min-height: 125px;
}
.card--flat {
  background-color: rgba(var(--nodify-color), 0.2);
  color: rgba(var(--nodify-dark), 1);
}
.card--flat:hover {
  background-color: rgba(var(--nodify-color), 0.5);
}
.card__tags {
  display: flex;
  padding: 5px 10px;
  justify-content: flex-start;
  right: 0;
  top: 0;
  left: auto;
  bottom: auto;
  align-items: flex-end;
}
.card__article {
  background: rgba(var(--nodify-color), 1);
  color: rgba(var(--nodify-dark), 1);
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  position: relative;
  box-shadow: none;
  overflow: hidden;
  transition: all 0.25s ease;
}
.card__article > .card__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 1rem 1rem;
  padding-top: 30px;
  background: linear-gradient(180deg, transparent, black);
  color: transparent;
  font-size: 0.9rem;
  transform: translateY(45%);
  transition: all 0.25s ease;
}
.card__article:hover {
  transform: scale(0.95);
}
.card__article:hover > .card__text {
  transform: translate(0);
  opacity: 1;
  color: #fff;
}

.array__container {
  user-select: none;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
.array__list-node {
  position: absolute;
  list-style: none;
  padding: 0;
  clear: both;
  white-space: nowrap;
}
.array__list-node__item {
  position: absolute;
  border: 1px solid gray;
  text-align: center;
  transition: 0.2s all ease;
}
.array__list-node__item:first-of-type {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.array__list-node__item:last-of-type {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

/*# sourceMappingURL=main.css.map */
