.array {
  &__container {
    user-select: none;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }

  &__list {
    &-node {
      position: absolute;
      list-style: none;
      padding: 0;
      clear: both;
      white-space: nowrap;

      &__item {
        position: absolute;
        text-align: center;
        transition: 0.2s all ease;
        border-radius: 0.4rem;
        margin-right: 0.5rem;
        font-weight: 600;

        background-color: rgba(245, 248, 247, 1);
        color: rgba(var(--nodify-dark), 1);

        &--warning {
          background-color: rgba(var(--nodify-warning), 1);
        }

        &--success {
          background-color: rgba(var(--nodify-success), 1);
          color: rgba(var(--nodify-text));
        }
      }
    }

    &-bar {

    }
  }
}
