.btn {
  color: rgba(var(--nodify-button-text), 1.0);
  background-color: rgba(var(--nodify-color), 1.0);

  &:hover {
    color: rgba(var(--nodify-button-text), 1.0);
  }

  &--icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;

    background: rgba(var(--nodify-background), 1.0);

    &:hover {
      color: rgba(var(--nodify-button-text), 1);
      background: rgba(var(--nodify-color), 1);
    }

    &--sm {
      height: 2rem;
      width: 2rem;
    }
  }

  &--shadow {
    box-shadow: 0 20px 20px -10px #{'rgba($color: var(--btn-background), $alpha: 0.5)'};

    &--onHover:hover {
      box-shadow: 0 20px 20px -10px rgba(var(--nodify-color), 0.5);
    }
  }

  &--float {
    &:hover {
      transform: translateY(-5px);
    }
  }

  &--text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-weight: 600;

    transition: all 0.25s ease;

    &--sm {
      height: 2rem;
    }
  }

  &--flat {
    background-color: rgba(var(--nodify-color), 0);
    color: rgba(var(--nodify-color), 1.0);
    border: 2px solid rgba(var(--nodify-color), 0.5);

    &:hover {
      border: 2px solid rgba(var(--nodify-color), 1);
      color: rbga(var(--nodify-color), 1);
    }
  }

  // Disable box-shadow when not specified
  &:not(.btn-shadow):not(.shadow) :not(.btn__shadow):not(.btn__shadow--onHover) {
    box-shadow: none !important;
  }
}
