.form {
  &--solid {
    background-color: #f5f8f7;
    color: #5e6278;
    border-color: #f5f8f7;
    border-radius: 0.65rem;
    transition: color 0.2s ease, background-color 0.2s ease;
    font-weight: 500;
    font-size: 1rem;

    &:active,&:focus {
      background-color: #eef3f7;
      border-color: #eef3f7;
    }
  }
}
