* {
  outline: none;
}

hr {
  margin: 0;
  height: 0;
  border-top: 1px solid rgba(var(--nodify-color), 1);
}

.hr {
  &--sm {
    max-width: 5rem;
    margin-top: 0;
    border-top-width: 10px;
  }
}

body {
  background-color: rgba(var(--nodify-background), 1);
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  color: #191914;
  text-decoration: none;

  transition: color 200ms ease;

  &:hover {
    color: rgba(var(--nodify-brand), 1);
  }
}

.tab-pane:not(.active) {
  display: none;
}
