* {
  outline: none;
}

body {
  background-color: rgba(var(--nodify-background), 1);
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

a {
  color: #191914;
  text-decoration: none;

  transition: color 200ms ease;

  &:hover {
    color: rgba(var(--nodify-brand), 1);
  }
}
