body {
  background-color: rgba(var(--nodify-background), 1);
}

a {
  color: #191914;
  text-decoration: none;

  transition: color 200ms ease;

  &:hover {
    color: rgba(var(--nodify-brand), 1);
  }
}
