:root {
  --nodify-brand: 29, 185, 84;
  --nodify-primary: 25, 91, 255;
  --nodify-warn: 255, 186, 0;
  --nodify-danger: 255,71,87;
  --nodify-success: 70,201,58;
  --nodify-dark: 30,30,30;
  --nodify-light: 244,247,248;
  --nodify-github: 36 ,41, 46;
  --nodify-icon: 243, 229, 207;
  --nodify-background: 251, 249, 246;

  --nodify-button-text: 255, 255, 255;
}
