.text {
  color: rgba(var(--nodify-color), 1);
}

[class*="text--underline"] {
  background: repeat-x left 1em/1em .15em;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(var(--nodify-color), 0.4)));

  transition: background 0.2s ease;

  &:hover {
    background: repeat-x left 0em/1em 1.15em;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(var(--nodify-color), 0.4)));
  }
}
