$nodify-white: #fbf9f6 !default;
$nodify-black: #191414 !default;
$nodify-primary: #1db954 !default;

$gray-50: #f9fafb !default;
$gray-100: #f3f4f6 !default;
$gray-200: #e5e7eb !default;
$gray-300: #d1d5db !default;
$gray-400: #9ca3af !default;
$gray-500: #6b7280 !default;
$gray-600: #4b5563 !default;
$gray-700: #374151 !default;
$gray-800: #1f2937 !default;
$gray-900: #111827 !default;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
) !default;

$red-50: #fef2f2 !default;
$red-100: #fee2e2 !default;
$red-200: #fecaca !default;
$red-300: #fca5a5 !default;
$red-400: #f87171 !default;
$red-500: #ef4444 !default;
$red-600: #dc2626 !default;
$red-700: #b91c1c !default;
$red-800: #991b1b !default;
$red-900: #7f1d1d !default;

$reds: (
  "100": $red-100,
  "200": $red-200,
  "300": $red-300,
  "400": $red-400,
  "500": $red-500,
  "600": $red-600,
  "700": $red-700,
  "800": $red-800,
  "900": $red-900,
) !default;

$yellow-50: #fffbeb !default;
$yellow-100: #fef3c7 !default;
$yellow-200: #fde68a !default;
$yellow-300: #fcd34d !default;
$yellow-400: #fbbf24 !default;
$yellow-500: #f59e0b !default;
$yellow-600: #d97706 !default;
$yellow-700: #b45309 !default;
$yellow-800: #92400e !default;
$yellow-900: #78350f !default;

$yellows: (
  "100": $yellow-100,
  "200": $yellow-200,
  "300": $yellow-300,
  "400": $yellow-400,
  "500": $yellow-500,
  "600": $yellow-600,
  "700": $yellow-700,
  "800": $yellow-800,
  "900": $yellow-900,
) !default;

$green-50: #ecfdf5 !default;
$green-100: #d1fae5 !default;
$green-200: #a7f3d0 !default;
$green-300: #6ee7b7 !default;
$green-400: #34d399 !default;
$green-500: #1db954 !default;
$green-600: #059669 !default;
$green-700: #047857 !default;
$green-800: #065f46 !default;
$green-900: #064e3b !default;

$greens: (
  "100": $green-100,
  "200": $green-200,
  "300": $green-300,
  "400": $green-400,
  "500": $green-500,
  "600": $green-600,
  "700": $green-700,
  "800": $green-800,
  "900": $green-900,
) !default;

$blue-50: #eff6ff !default;
$blue-100: #dbeafe !default;
$blue-200: #bfdbfe !default;
$blue-300: #93c5fd !default;
$blue-400: #60a5fa !default;
$blue-500: #3b82f6 !default;
$blue-600: #2563eb !default;
$blue-700: #1d4ed8 !default;
$blue-800: #1e40af !default;
$blue-900: #1e3a8a !default;

$blues: (
  "100": $blue-100,
  "200": $blue-200,
  "300": $blue-300,
  "400": $blue-400,
  "500": $blue-500,
  "600": $blue-600,
  "700": $blue-700,
  "800": $blue-800,
  "900": $blue-900,
) !default;

$cyan-50: #ecfeff !default;
$cyan-100: #cffafe !default;
$cyan-200: #a5f3fc !default;
$cyan-300: #67e8f9 !default;
$cyan-400: #22d3ee !default;
$cyan-500: #06b6d4 !default;
$cyan-600: #0891b2 !default;
$cyan-700: #0e7490 !default;
$cyan-800: #155e75 !default;
$cyan-900: #164e63 !default;

$cyans: (
  "100": $cyan-100,
  "200": $cyan-200,
  "300": $cyan-300,
  "400": $cyan-400,
  "500": $cyan-500,
  "600": $cyan-600,
  "700": $cyan-700,
  "800": $cyan-800,
  "900": $cyan-900,
) !default;

$purple-50: #faf5ff !default;
$purple-100: #f3e8ff !default;
$purple-200: #e9d5ff !default;
$purple-300: #d8b4fe !default;
$purple-400: #c084fc !default;
$purple-500: #a855f7 !default;
$purple-600: #9333ea !default;
$purple-700: #7e22ce !default;
$purple-800: #6b21a8 !default;
$purple-900: #581c87 !default;

$purples: (
  "100": $purple-100,
  "200": $purple-200,
  "300": $purple-300,
  "400": $purple-400,
  "500": $purple-500,
  "600": $purple-600,
  "700": $purple-700,
  "800": $purple-800,
  "900": $purple-900,
) !default;

$pink-50: #fdf2f8 !default;
$pink-100: #fce7f3 !default;
$pink-200: #fbcfe8 !default;
$pink-300: #f9a8d4 !default;
$pink-400: #f472b6 !default;
$pink-500: #ec4899 !default;
$pink-600: #db2777 !default;
$pink-700: #be185d !default;
$pink-800: #9d174d !default;
$pink-900: #831843 !default;

$pinks: (
  "100": $pink-100,
  "200": $pink-200,
  "300": $pink-300,
  "400": $pink-400,
  "500": $pink-500,
  "600": $pink-600,
  "700": $pink-700,
  "800": $pink-800,
  "900": $pink-900,
) !default;

$blue: $blue-500 !default;
$purple: $purple-700 !default;
$pink: $pink-500 !default;
$red: $red-600 !default;
$yellow: $yellow-400 !default;
$green: $green-500 !default;
$cyan: $cyan-400 !default;
$white: $nodify-white !default;
$black: $nodify-black !default;

$primary: $green !default;
$danger: $red !default;
$warning: $yellow !default;
$dark: $black !default;
$light: $white !default;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "warning": $warning,
  "dark": $dark,
  "light": $light,
) !default;
